{{ define "footer" }}
<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            Contact Me
          </li>
          <li><a href="mailto:EMAIL_ADDRESS">Email</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          GitHub
          <li>
            <a href="GITHUB">jimxshaw</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Official blog of a passionate coder</p>
      </div>
    </div>

  </div>

</footer>
{{ end }}